/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    width: 95%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #005a6d;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

p {
    color: #555;
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.5;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    outline: none;
}

.btn {
    background-color: #3498db;
    color: #fff;
}

.btn:hover {
    background-color: #2980b9;
}

.btn-apple, .btn-google, .btn-facebook, .btn-phone {
    background-color: #2c3e50;
    color: #fff;
}

.btn-apple img, .btn-google img, .btn-facebook img, .btn-phone img {
    width: 24px;
    height: 24px;
}

.btn-apple:hover, .btn-google:hover, .btn-facebook:hover, .btn-phone:hover {
    background-color: #34495e;
}

.terms {
    font-size: 1.1em;
    color: #555;
    margin-top: 20px;
}

.terms a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.terms a:hover {
    color: #2980b9;
    text-decoration: underline;
}

/* Estilos Responsivos */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    button {
        font-size: 1em;
        padding: 12px;
    }

    .btn-apple img, .btn-google img, .btn-facebook img, .btn-phone img {
        width: 20px;
        height: 20px;
    }
}
